Framework_Linux/code_blocks/cloth-simulator/Debug/
Framework_Linux/code_blocks/cloth-simulator/Release/
Framework_Linux/code_blocks/cloth-simulator/cloth-simulator
Framework_Linux/code_blocks/cloth-simulator/cloth-simulator.depend
Framework_Linux/code_blocks/cloth-simulator/cloth-simulator.layout
Framework_Windows.zip
Framework_Windows/
*~
.fuse_hidden*